// main
$c-main1: #000;
$c-main2: #000;

// main-rgba
$c-main1-rgba: #000;
$c-main2-rgba: #000;

// assist
$c-assist1: #000;
$c-assist2: #000;

// assist-rgba
$-assist1-rgba: #000;
$-assist2-rgba: #000;

$c-white: #ffffff;

// text
$c-text1: #666;
$c-text1-hover: #333;
$c-text2: #aaa;

// warning
$c-warning: #000;

// error
$c-error: #000;

// others
$c-other1: #000;
$c-other2: #000;
