<template>
  <div>
    <div class="home-content g-content">
      <SectionContainer :padding="'60 0 0 0'">
        <NewsList :hasPagination="true"> </NewsList>
      </SectionContainer>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import SectionContainer from '@/components/global/SectionContainer.vue';
import NewsList from '@/components/Home/NewsList.vue';

@Component({
  metaInfo: {
    title: '-NewsList'
  },
  components: {
    SectionContainer,
    NewsList
  }
})
export default class AllNews extends Vue {}
</script>

<style scoped lang="scss">
@import '~@/styles/index';

.content-wrapper {
  text-align: center;
}

.title-404 {
  margin-bottom: 10px;
}

.not-find-text {
  margin-bottom: 30px;
}

.home-link {
  display: inline-block;
  background-color: $c-assist1;
  color: $c-white;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 4px;

  &:hover {
    background-color: $c-assist2;
  }
}
</style>
