<template>
  <div class="home-content g-content">
    <SectionContainer :padding="'60 0 0 0'">
      <div class="title-date-wrapper">
        <p class="title-wrapper">{{ formatNews.title }}</p>
        <p class="date-wrapper">{{ formatNews.createdAt }}</p>
      </div>
      <p class="news-content">{{ formatNews.content }}</p>
    </SectionContainer>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { IgetNews } from '@/interface/newsTyping';
import SectionContainer from '@/components/global/SectionContainer.vue';

import NewsService from '@/services/newsService';
const newsService = new NewsService();

@Component({
  metaInfo: {
    title: '-完整文章'
  },
  components: {
    SectionContainer
  }
})
export default class FullNews extends Vue {
  @(namespace('newsStore').State)
  public news: any;
  @(namespace('newsStore').Getter)
  public formatNews: any;
  @(namespace('newsStore').Action)
  public getNews: any;

  public newsData: { [key: string]: string } = {
    title: '',
    content: ''
  };

  public async fetchNewsAPI() {
    const currRouteID: string = this.$route.params.id;
    const payload: IgetNews = {
      id: currRouteID
    };

    try {
      await this.getNews(payload);
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    this.fetchNewsAPI();
  }
}
</script>

<style scoped lang="scss">
@import '~@/styles/index';

.full-news-wrapper {
  width: 800px;
  margin: 0 auto;
}

.title-date-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 15px;
  border-bottom: 1px solid #ccc;
}

.title-wrapper {
  flex: 1;
  font-size: 32px;
  font-weight: 700;
}

.date-wrapper {
  width: 150px;
  flex: none;
  font-size: 13px;
  color: #ccc;
  font-weight: 700;
  text-align: right;
}

.news-content {
  padding: 30px 10px 15px;
  width: 100%;
}
</style>
