<template>
  <div>
    <div class="home-content g-content">
      <SectionContainer :padding="'0 0 100 0'">
        <Carousel></Carousel>
      </SectionContainer>
      <SectionContainer>
        <NewsList></NewsList>
      </SectionContainer>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import SectionContainer from '@/components/global/SectionContainer.vue';
import Carousel from '@/components/Home/Carousel.vue';
import NewsList from '@/components/Home/NewsList.vue';

@Component({
  metaInfo: {
    title: '-Home'
  },
  components: {
    SectionContainer,
    Carousel,
    NewsList
  }
})
export default class Home extends Vue {}
</script>

<style scoped lang="scss">
@import '~@/styles/index';

.home-content {
  width: 100%;
  height: 100vh;
}
</style>
