<template>
  <!-- 輪播 -->
  <div class="carousel-com">

    <div class="carousel-main">
      <div class="move-left-wrapper move-wrapper">
        <div class="move-left-circle move-circle"
             @click="movePrev">
          <span class="ml-top-line ml-line"></span>
          <span class="ml-bottom-line  ml-line"></span>
        </div>
      </div>
      <div class="carousel-imgs-wrapper"
           ref="carouselWrapper">

        <img v-for="(item, index) of manipulateImageList"
             :class="{'img-active': item.show}"
             :key="index"
             class="carousel-imgs"
             :src="item.url">

      </div>
      <div class="move-right-wrapper move-wrapper">
        <div class="move-right-circle move-circle"
             @click="moveNext">
          <span class="mr-top-line ml-line"></span>
          <span class="mr-bottom-line ml-line"></span>
        </div>
      </div>
    </div>

    <div class="dots-wrapper">
      <ul class="dot-list">
        <span v-for="(item, index) of imageList"
              :key="item"
              class="dot-item"
              :class="{'dot-active': currIndex === index}"></span>

      </ul>

    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { IList } from '@/interface/imageTyping';

import ImageService from '@/services/imageService';
const imageService = new ImageService();

@Component({})
export default class Carousel extends Vue {
  @(namespace('imageStore').State)
  public imageList: string[];
  @(namespace('imageStore').Action)
  public getImageList: any;

  public manipulateImageList: any[] = [];

  public currIndex: number = 0;

  public mainImageUrl: string = '';

  public timer: any = null;

  public movePrev() {
    clearInterval(this.timer);
    if (this.currIndex === 0) {
      this.currIndex = this.imageList.length - 1;
    } else {
      this.currIndex -= 1;
    }
    this.adjustImageList();
    this.startCarousel();
  }

  public moveNext() {
    clearInterval(this.timer);
    if (this.currIndex === this.imageList.length - 1) {
      this.currIndex = 0;
    } else {
      this.currIndex += 1;
    }
    this.adjustImageList();
    this.startCarousel();
  }

  public adjustImageList() {
    this.manipulateImageList = this.manipulateImageList.map(
      (item: any, index: number) => {
        if (index === this.currIndex) {
          return {
            url: item.url,
            show: true,
          };
        }

        return {
          url: item.url,
          show: false,
        };
      },
    );
  }

  public generalImageList() {
    this.manipulateImageList = JSON.parse(JSON.stringify(this.imageList));
    this.manipulateImageList = this.manipulateImageList.map(
      (item: any, index: number) => {
        if (index === 0) {
          return {
            url: item,
            show: true,
          };
        }

        return {
          url: item,
          show: false,
        };
      },
    );
  }

  public startCarousel() {
    this.timer = setInterval(() => {
      if (this.currIndex === this.imageList.length - 1) {
        this.currIndex = 0;
      } else {
        this.currIndex += 1;
      }
      this.adjustImageList();
    }, 3000);
  }

  public async fetchImageList() {
    try {
      const payload: IList = {
        onlyLink: true,
      };
      await this.getImageList(payload);
      this.generalImageList();
      this.startCarousel();
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    this.fetchImageList();
  }

  public beforeDestroy() {
    clearInterval(this.timer);
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.carousel-com {
  width: 100%;
}

.carousel-main {
  width: 100%;
  position: relative;
}

.carousel-imgs-wrapper {
  width: 100%;
  height: 420px;
  overflow: hidden;
  position: relative;

  .carousel-image-box {
    position: relative;
    // transition: 0.2s;
    // transform: translateX(-33.33%);
  }

  // .move-left {
  //   transform: translateX(0%);
  // }

  // .move-center {
  //   transform: translateX(-66.66667%);
  // }

  // .move-right {
  //   transform: translateX(300%);
  // }

  .carousel-imgs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    transition: 0.3s linear;
  }

  .img-active {
    opacity: 1;
  }

  // .carousel-imgs-main {

  //   display: inline-block;
  //   width: 33.333%;
  //   vertical-align: top;
  // }
}

.move-wrapper {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.move-left-wrapper {
  width: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

.move-right-wrapper {
  width: 90px;
  position: absolute;
  right: 0;
  top: 0;
}

.move-circle {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.ml-line {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: $c-white;
  left: 50%;
  transform: translateX(-50%);
}

.ml-top-line {
  top: 21px;
  transform: translateX(-50%) rotate(-45deg);
}

.ml-bottom-line {
  bottom: 21px;
  transform: translateX(-50%) rotate(45deg);
}

.mr-top-line {
  top: 21px;
  transform: translateX(-50%) rotate(45deg);
}

.mr-bottom-line {
  bottom: 21px;
  transform: translateX(-50%) rotate(-45deg);
}

.dots-wrapper {
  margin-top: 30px;
  text-align: center;
}

.dot-list {
  display: inline-block;
}

.dot-item {
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.dot-active {
  background-color: rgba(0, 0, 0, 0.7);
}
</style>