<template>
  <!-- 新聞列表 -->
  <div class="news-list-com">
    <h3 class="news-list-title">
      最新消息
    </h3>
    <ul class="news-list">
      <NewsListItem
        v-for="item of formatNewsList.items"
        :key="item._id"
        :id="item._id"
        :newsItem="{ title: item.title, date: item.createdAt }"
      ></NewsListItem>
    </ul>

    <el-pagination
      v-if="$attrs.hasPagination"
      @size-change="handleAdjustPageSize"
      @current-change="handleJumpPage"
      :current-page="formatNewsList.pageInfo.pageIndex"
      :page-size="formatNewsList.pageInfo.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="formatNewsList.pageInfo.totalCounts"
    >
    </el-pagination>
    <router-link to="/allNews" class="view-all" v-else>查看全部</router-link>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import NewsListItem from '@/components/Home/NewsListItem.vue';
import { IgetNewsList } from '@/interface/newsTyping';

@Component({
  components: {
    NewsListItem
  }
})
export default class NewsList extends Vue {
  @(namespace('newsStore').State)
  public newsList: any;
  @(namespace('newsStore').Getter)
  public formatNewsList: any;
  @(namespace('newsStore').Action)
  public getNewsList: any;

  public payload: IgetNewsList = {
    condition: {
      title: '',
      orderRule: [],
      beginAt: '',
      endAt: '',
      showAll: false
    },
    pager: {
      pageIndex: 1,
      pageSize: 5
    }
  };

  public async fetchNewsList() {
    try {
      this.getNewsList(this.payload);
    } catch (e) {
      badResHelper(e);
    }
  }

  //   跳頁
  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchNewsList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchNewsList();
  }

  // 統一處理emit事件
  public emitEvent(eventName: string, emitData: any) {
    this.$emit(eventName, emitData);
  }

  public created() {
    this.fetchNewsList();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.news-list-title {
  text-align: center;
  margin-bottom: 30px;
  color: $c-text1;
}

.news-list {
  width: 100%;
  // max-width: 580px;
  margin: 0 auto;
}

.view-all {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  text-align: right;
  font-size: 14px;
  box-sizing: border-box;
  padding-right: 10px;
  color: #999;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/deep/ .el-pagination {
  text-align: right;
}
</style>
