<template>
  <!-- 用於顯示新聞列表中的項目 -->
  <li class="news-list-item-com">
    <div class="news-title">
      <span class="news-title-text" @click="toFullNewsPage($attrs.id)">{{
        newsItem.title
      }}</span>
    </div>
    <div class="news-date">{{ newsItem.date }}</div>
  </li>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class NewsListItem extends Vue {
  @Prop({
    default: () => {
      return { title: 'news-title', date: 'news-date' };
    }
  })
  public newsItem: any;

  public toFullNewsPage(id: string) {
    console.log(id);
    this.$router.push({ name: 'fullNews', params: { id } });
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.news-list-item-com {
  display: flex;
  box-sizing: border-box;
  padding: 15px 10px;
  border-top: 1px solid #ddd;
}

.news-title {
  flex: 1;
  box-sizing: border-box;
  color: $c-text1;

  &:hover {
    color: $c-text1-hover;
  }
}

.news-title-text {
  cursor: pointer;
}

.news-date {
  flex: none;
  width: 100;
  color: $c-text2;
  font-size: 14px;
}
</style>
