<template>
  <div>
    template
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Template extends Vue {}
</script>

<style lang="less" scoped>
@import '~@/styles/index';
</style>