<template>
  <!-- 最新消息主體 -->
  <div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class NewsContent extends Vue {}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>