<template>
  <div id="app">
    <router-view v-if="noBaseLayout" />

    <!-- 預設 -->
    <router-view />

    <!-- 左右佈局 -->
    <!-- <LayoutLeftRight>
      <router-view />
    </LayoutLeftRight> -->

    <!-- 上下佈局 -->
    <!-- <LayoutTopBotton>
      <router-view />
    </LayoutTopBotton> -->

    <!-- 自定義佈局 -->
    <!-- <LayoutCustom>
      <router-view />
    </LayoutCustom> -->

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// import LayoutCustom from '@/layout/LayoutCustom.vue';
// import LayoutLeftRight from '@/layout/LayoutLeftRight.vue';
// import LayoutTopBotton from '@/layout/LayoutTopBotton.vue';

@Component({
  metaInfo: {
    title: '',
    titleTemplate: 'App%s', // 每一頁的title這裡會取代%s
  },
  components: {
    // LayoutCustom,
    // LayoutLeftRight,
    // LayoutTopBotton,
  },
})
export default class App extends Vue {
  public get noBaseLayout() {
    // 不需要基本佈局的頁面名字寫在陣列內
    const noBaseLayoutPages = ['login'];
    return noBaseLayoutPages.indexOf((this as any).$route.name) >= 0;
  }
}
</script>

<style  lang="scss">
@import '~@/styles/index';
</style>


