<template>
  <!-- 左右佈局 -->
  <section class="layout-left-right-section">
    <div class="layout-left-right-content">
      <aside class="layout-aside">
        aside
      </aside>
      <div class="layout-header-main-wrapper">
        <header class="layout-header">
          header
        </header>
        <main class="layout-main">
          <slot>main</slot>
        </main>
      </div>
    </div>
  </section>
</template>


<style lang="scss" scoped>
.layout-left-right-section {
  width: 100%;
}

.layout-left-right-content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout-aside {
  flex: none;
  width: 200px;
  background-color: #999;
}

.layout-header-main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-header {
  width: 100%;
  height: 50px;
  background-color: #ccc;
}

.layout-main {
  flex: 1;
  height: 100%;
  background-color: #eee;
  overflow: auto;
}
</style>