<template>
  <!-- 上下佈局的 -->
  <section class="layout-top-botton-section">
    <div class="layout-top-bottom-content">
      <header class="layout-header">
        header
      </header>
      <div class="layout-aside-main-wrapper">
        <aside class="layout-aside">
          aside
        </aside>
        <main class="layout-main">
          <slot>main</slot>
        </main>
      </div>
    </div>

  </section>
</template>


<style  lang="scss" scoped>
@import '~@/styles/index';

.layout-top-bottom-section {
  width: 100%;
}

.layout-top-bottom-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  width: 100%;
  flex: none;
  height: 50px;
  background-color: #ccc;
}

.layout-aside-main-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
}

.layout-aside {
  flex: none;
  height: 100%;
  width: 200px;
  background-color: #999;
}

.layout-main {
  flex: 1;
  background-color: #eee;
  overflow: auto;
}
</style>