<template>
  <div
    class="section-container"
    :style="`padding: ${paddingValue.top} ${paddingValue.right} ${paddingValue.bottom} ${paddingValue.left}; background-color: ${bgc}`"
  >
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class SectionContainer extends Vue {
  @Prop({ default: () => '0 0 0 0' })
  public padding: string;

  @Prop({ default: () => 'transparent' })
  public bgc: string;

  public get paddingValue() {
    const getPadding = this.padding.split(' ');

    return {
      top: getPadding[0] + 'px',
      right: getPadding[1] + 'px',
      bottom: getPadding[2] + 'px',
      left: getPadding[3] + 'px',
    };
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.section-container {
  box-sizing: border-box;
}
</style>